@model IEnumerable<WEBMVC.Models.Gender>

@{
    ViewData["Title"] = "Index";
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GenderName)
            </th>
            <th>
                <a asp-action="Create" class="btn btn-outline-success"><i class="far fa-plus-square"></i>  Course</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GenderName)
            </td>
            <td>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <a asp-action="Edit" asp-route-id="@item.GenderId"><i class='fas fa-pencil-alt' style='color:black'></i></a>
                    </div>
                    <div class="form-group col-md-2">
                        <a asp-action="Details" asp-route-id="@item.GenderId"><i class='fas fa-file-alt' style='color:black'></i></a>
                    </div>
                    <div class="form-group col-md-2">
                        <a asp-action="Delete" asp-route-id="@item.GenderId">
                            <i class="far fa-trash-alt" style='color:black'></i>
                        </a>
                    </div>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
